* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* nav */

.navbar {
  background-color: #00005b;
}

.nav-link {
  color: #c5c5c5;
  font-size: 18px;
  white-space: nowrap;
}

.nav-link:hover {
  color: white;
}

#navButtonContainer a {
  border: 2px solid #c52525;
}

#navButtonContainer a:hover {
  background-color: #c52525;
  color: white;
}

.navbar-toggler {
  border: 2px solid white;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 1050px) and (min-width: 992px) {
  #navContainer {
    padding: 0 1rem !important;
  }
}

@media (min-width: 992px) {
  #navButtonContainer::before {
    content: "";
    position: relative;
    width: 1.5px;
    height: 1.7rem;
    background-color: #c5c5c5;
    top: 10px;
    left: -25px;
    cursor: none;
  }
}

/* end-nav */

/* main section */

.items {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

#title {
  font-size: 24px;
  color: #000069;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-card {
  width: 30%;
  height: 30vh;
  border: 2px solid #000069;
  margin-top: 100px;
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 1vw;
}
.custom-card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.information {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding-left: 2vw;
  padding-top: 2.5vw;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: -4vw;
  width: 100%;
}

.information p {
  margin-top: -1vw;
}

.more {
  height: 100%;
}

.custom-card .custom-title {
  position: absolute;
  left: 10px;
  top: -20px;
  background-color: white;
}

.more {
  display: flex;
  flex-direction: column;
  margin-right: -3vw;
  align-items: center;
  justify-content: end;
  width: 100%;
  position: relative;
}
.more span span {
  display: inline;
}

.itemImg {
  width: clamp(150px, 20vw, 200px);
  position: absolute;
  right: -80px;
  top: -80px;
}

.user {
  width: 50%;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 1vw;
  font-weight: bolder;
  transition: 0.7s ease-in-out;
  margin-bottom: 0px;
  text-align: center;
}
.link:hover {
  text-decoration: none;
  color: #1b22b2;
  margin-bottom: 0px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .main-section {
    flex-direction: column;
    align-items: center;
  }

  .custom-card {
    width: 75%;
    margin-top: 8.7vw;
    margin-bottom: 8.7vw;
  }
  .link,
  .more,
  .information {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 426px) {
  .link,
  .more,
  .information {
    font-size: 2.5vw;
  }
}

.buttons {
  margin: 25px auto;
}

button {
  width: 30vh;
  background: #c52525;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  margin: 10px;
}

button:hover {
  background: #851919;
  cursor: pointer;
}
