* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* nav */

.navbar {
  background-color: #00005b;
}

.nav-link {
  color: #c5c5c5;
  font-size: 18px;
  white-space: nowrap;
}

.nav-link:hover {
  color: white;
}

#navButtonContainer a {
  border: 2px solid #c52525;
}

#navButtonContainer a:hover {
  background-color: #c52525;
  color: white;
}

.navbar-toggler {
  border: 2px solid white;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 1050px) and (min-width: 992px) {
  #navContainer {
    padding: 0 1rem !important;
  }
}

@media (min-width: 992px) {
  #navButtonContainer::before {
    content: "";
    position: relative;
    width: 1.5px;
    height: 1.7rem;
    background-color: #c5c5c5;
    top: 10px;
    left: -25px;
    cursor: none;
  }
}

/* end-nav */

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  height: 75vh;
  width: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 3px 1px #1818183d, 2px 2px 3px #18181865,
    inset 2px 2px 2px #ffffff;
}

form h1 {
  color: #00005b;
  font-weight: bold;
}

form label {
  display: block;
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
}

form input,
select,
.conf {
  font-size: large;
  width: 400px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.conf {
  font-size: 20px;
  font-weight: 600;
  background-color: #00005b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.conf:hover {
  scale: 1.1;
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }
  form input,
  select,
  .conf {
    width: 70vw;
  }
}
